:root {
    --main: #cc0000ff;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.noPM, h1, p, div {
    padding: 0;
    margin: 0;
}

.header {
    background-color: var(--main);
    width: 100%;
    height: 47px;
    padding: 13px 0px 13px 13px;
    margin: 0px;
    color: white;
    position: relative;
}

.header h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3px;
    display: inline;
}

.icon {
    background-color: transparent;
    border: 0px;
    color: white;
    padding: 10px;
    margin: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.icon span {
    font-size: 30px;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.content {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    list-style-type: none;
    margin: 0;
    width: 70px;
    min-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    background: white;
    border-right: 2px black solid;
    transition: width 0.5s ease;
    position: relative;
}

.sidebar .entry {
    display: flex;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    position: relative;
}

.sidebar .entry:hover, .sidebar .entry:hover h3 {
    text-decoration: underline;
}
.sidebar .entry:hover .menuicon {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.sidebar .entry h3 {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 80px;
    padding: 0;
    margin: 0;
}

.menuicon {    
    background-color: transparent;
    border: 0px;
    padding: 10px;
    margin: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;
    margin-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
}

.menuicon.selected {
    color: white;
    background-color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.sidebarheader {
    background-color: var(--main);
    height: 53px;
    width: 100%;
    padding: 10px;
    margin: 0;
}

.boxContainer {
    display: flex;
    max-width: 900px;
    margin: auto;
}
.boxEntry {
    border: 2px;
    flex: 1;
    min-height: 400px;
    margin: 10px;
    border: 2px solid black;
    overflow: hidden;
}
.boxEntry .boxHeader {
    background-color: var(--main);
    width: 100%;
    color: white;
    display: flex;
    padding: 10px 0 10px 0;
    min-height: 40px;
}
.boxEntry .boxHeader div {
    font-size: 20;
    margin: 0%;
    flex: 1;
    padding: 0%;
    position: relative;
}
.boxEntry .boxHeader div h2 {
    position: absolute;
    padding: 0%;
    margin: 0 0px 0 10px;
    top: 50%;
    transform: translateY(-50%);
}
.boxEntry .boxHeader span {
    font-size: 40px;
    margin: 0 10px 0 0px;
    align-self: flex-start;
}

.sidebar #btmbtns {
    position: absolute;
    bottom: 25px;
}
/* If mobile */
@media (pointer:none), (pointer:coarse) {
    .sidebar #btmbtns {
        position: unset;
        margin-top: 60px;
    }
}

.main {
    flex: 1;
}